nav
  p 
    span.icon-books
    b Library
  ul 
    li
      a(href="./dashboard.html")
        i.icon-home
        span Dashboard
    li
      a(href="./book.html")
        i.icon-book
        span Books
    li
      a(href="./categorie.html")
        i.icon-list
        span Categories
    li
      a(href="./member.html")
        i.icon-group
        span Members
