meta(charset='utf-8')
link(rel="stylesheet", href="../CSS/frame.css")
link(rel="icon", type="image/x-icon", href="../image/logo.png")
link(rel="stylesheet",class="theme-file", href="../CSS/colorLight.css")
link(rel="stylesheet", href="../icon/style.css")
